<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.official-mapper">
  <select id="officialIdcheck" resultType="int" parameterType="string">
      SELECT COUNT(*) FROM official
      WHERE email=#{email}
  </select>
  <insert id="officialInsert" parameterType="OfficialVO">
      <selectKey keyProperty="cid" resultType="String" order="BEFORE">
        SELECT 'c' || official_list_seq.NEXTVAL FROM DUAL
      </selectKey>
      INSERT INTO official (cid,pw,email,name,cname,phone,brnumber) VALUES(
          #{cid},#{pw},#{email},#{name},#{cname},#{phone},#{brnumber}
      )
  </insert>
  <!-- 로그인 -->
  <select id="officialIdCheckCount" resultType="int" parameterType="string">
      SELECT COUNT(*) FROM official
      WHERE email=#{email} 
  </select>
  <select id="officialGetPassword" resultType="OfficialVO" parameterType="string">
      SELECT cid,pw,name,state,access_key
      FROM official
      WHERE email=#{email}
  </select></mapper> 