@charset "UTF-8";

.jply_main_dark0 {
	color: #00a85d
}

.jply_main {
	color: #00c362
}

.jply_main_light0 {
	color: #2fdd78
}

.jply_main_light1 {
	color: #7ef2a9
}

.jply_main_light2 {
	color: #d9ffe6
}

.jply_sub_dark0 {
	color: #0994ff
}

.jply_sub {
	color: #40b6ff
}

.jply_gr0 {
	color: #323438
}

.jply_gr1 {
	color: #4b4c50
}

.jply_gr2 {
	color: #686a6d
}

.jply_gr3 {
	color: #85878c
}

.jply_gr4 {
	color: #c5c7cc
}

.jply_gr5 {
	color: #e5e6e9
}

.jply_gr6 {
	color: #f3f3f4
}

.jply_red {
	color: #ff5757
}

.jply_orange {
	color: #ffa22b
}

.jply_purple {
	color: #8a74ed
}

.jf_gray30 {
	color: #f9f9fb
}

.jf_gray50 {
	color: #f3f3f4
}

.jf_gray100 {
	color: #e5e6e9
}

.jf_gray200 {
	color: #c5c7cc
}

.jf_gray300 {
	color: #a4a6ad
}

.jf_gray400 {
	color: #85878c
}

.jf_gray500 {
	color: #686a6d
}

.jf_gray600 {
	color: #57595b
}

.jf_gray700 {
	color: #4b4c50
}

.jf_gray800 {
	color: #323438
}

.jf_gray900 {
	color: #242628
}

.jf_blue30 {
	color: #f6fbfe
}

.jf_blue50 {
	color: #ecf6fe
}

.jf_blue100 {
	color: #bbdefb
}

.jf_blue200 {
	color: #90caf9
}

.jf_blue300 {
	color: #64b5f6
}

.jf_blue400 {
	color: #42a5f5
}

.jf_blue500 {
	color: #2196f3
}

.jf_blue600 {
	color: #1e88e5
}

.jf_blue700 {
	color: #1976d2
}

.jf_blue800 {
	color: #1565c0
}

.jf_blue900 {
	color: #0d47a1
}

.jf_green30 {
	color: #f7fdfa
}

.jf_green50 {
	color: #ebf9ef
}

.jf_green100 {
	color: #bbecc8
}

.jf_green200 {
	color: #96e0aa
}

.jf_green300 {
	color: #76d792
}

.jf_green400 {
	color: #50cd7a
}

.jf_green500 {
	color: #00c362
}

.jf_green600 {
	color: #00a855
}

.jf_green700 {
	color: #008040
}

.jf_green800 {
	color: #006633
}

.jf_green900 {
	color: #024b26
}

.jf_red30 {
	color: #fff7f7
}

.jf_red50 {
	color: #fff0f2
}

.jf_red100 {
	color: #ffcdcd
}

.jf_red200 {
	color: #f6a2a2
}

.jf_red300 {
	color: #f38181
}

.jf_red400 {
	color: #ef5350
}

.jf_red500 {
	color: #f44336
}

.jf_red600 {
	color: #e53935
}

.jf_red700 {
	color: #d32f2f
}

.jf_red800 {
	color: #c62828
}

.jf_red900 {
	color: #b71c1c
}

.jf_orange30 {
	color: #fffaf5
}

.jf_orange50 {
	color: #fff3e0
}

.jf_orange100 {
	color: #ffe0b2
}

.jf_orange200 {
	color: #ffcc80
}

.jf_orange300 {
	color: #ffb74d
}

.jf_orange400 {
	color: #ffa726
}

.jf_orange500 {
	color: #ff9800
}

.jf_orange600 {
	color: #fb8c00
}

.jf_orange700 {
	color: #f57c00
}

.jf_orange800 {
	color: #ef6c00
}

.jf_orange900 {
	color: #e65100
}

.jf_purple30 {
	color: #f9f8fc
}

.jf_purple50 {
	color: #f2f0f9
}

.jf_purple100 {
	color: #d0cbec
}

.jf_purple200 {
	color: #aaa1dd
}

.jf_purple300 {
	color: #8477cf
}

.jf_purple400 {
	color: #6856c3
}

.jf_purple500 {
	color: #523cc3
}

.jf_purple600 {
	color: #4736b5
}

.jf_purple700 {
	color: #3b2ead
}

.jf_purple800 {
	color: #3127a0
}

.jf_purple900 {
	color: #2b1b92
}

.jf_teal30 {
	color: #f1fffd
}

.jf_teal50 {
	color: #e0fffa
}

.jf_teal100 {
	color: #b8f0e7
}

.jf_teal200 {
	color: #87ded0
}

.jf_teal300 {
	color: #63d3c1
}

.jf_teal400 {
	color: #40c8b2
}

.jf_teal500 {
	color: #1cbda3
}

.jf_teal600 {
	color: #15a78f
}

.jf_teal700 {
	color: #0e917b
}

.jf_teal800 {
	color: #077a68
}

.jf_teal900 {
	color: #006454
}

.jf_gradient1 {
	color: linear-gradient(90deg, #9575CD 0%, #5C6BC0 100%)
}

.jf_gradient2 {
	color: linear-gradient(180deg, #FFD34E 0%, #FFA726 100%)
}

.jf_shadow1 {
	box-shadow: 0px 1px 4px rgba(30, 40, 58, 0.04)
}

.jf_shadow2 {
	box-shadow: 0px 6px 48px rgba(30, 40, 58, 0.08)
}

.jf_shadow3 {
	box-shadow: 0px 6px 48px rgba(30, 40, 58, 0.08), 0px 6px 48px
		rgba(30, 40, 58, 0.08)
}

.jf_shadow4 {
	box-shadow: 0px 6px 48px rgba(30, 40, 58, 0.08), 0px 6px 48px
		rgba(30, 40, 58, 0.08), 0px 16px 48px 8px rgba(30, 40, 58, 0.08)
}

.jf_text_right {
	text-align: right
}

.jf_text_left {
	text-align: left
}

.jf_flex_right {
	justify-content: right
}

.jf_flex_left {
	justify-content: left
}

.jf_flex_between {
	justify-content: space-between
}

.jf_bold {
	font-weight: 700
}

@font-face {
	font-family: 'jp-icons-2402';
	src:
		url("https://common.jobplanet.co.kr/fonts/eot/jp-icons-2402.eot?mqojkr");
	src:
		url("https://common.jobplanet.co.kr/fonts/eot/jp-icons-2402.eot?mqojkr#iefix")
		format("embedded-opentype"),
		url("https://common.jobplanet.co.kr/fonts/woff/jp-icons-2402.woff?mqojkr")
		format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: block
}

[class^="jp-"], [class*=" jp-"] {
	font-family: 'jp-icons-2402' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.jp-quote:before {
	content: "\e900"
}

.jp-star-solid:before {
	content: "\e901"
}

.jp-jobplanet:before {
	content: "\e902"
}

.jp-activity:before {
	content: "\e903"
}

.jp-airplay:before {
	content: "\e904"
}

.jp-alert-circle:before {
	content: "\e905"
}

.jp-alert-octagon:before {
	content: "\e906"
}

.jp-alert-triangle:before {
	content: "\e907"
}

.jp-align-center:before {
	content: "\e908"
}

.jp-align-justify:before {
	content: "\e909"
}

.jp-align-left:before {
	content: "\e90a"
}

.jp-align-right:before {
	content: "\e90b"
}

.jp-anchor:before {
	content: "\e90c"
}

.jp-aperture:before {
	content: "\e90d"
}

.jp-archive:before {
	content: "\e90e"
}

.jp-arrow-down-circle:before {
	content: "\e90f"
}

.jp-arrow-down-left:before {
	content: "\e910"
}

.jp-arrow-down-right:before {
	content: "\e911"
}

.jp-arrow-down:before {
	content: "\e912"
}

.jp-arrow-left-circle:before {
	content: "\e913"
}

.jp-arrow-left:before {
	content: "\e914"
}

.jp-arrow-right-circle:before {
	content: "\e915"
}

.jp-arrow-right:before {
	content: "\e916"
}

.jp-arrow-up-circle:before {
	content: "\e917"
}

.jp-arrow-up-left:before {
	content: "\e918"
}

.jp-arrow-up-right:before {
	content: "\e919"
}

.jp-arrow-up:before {
	content: "\e91a"
}

.jp-at-sign:before {
	content: "\e91b"
}

.jp-award:before {
	content: "\e91c"
}

.jp-bar-chart-2:before {
	content: "\e91d"
}

.jp-bar-chart:before {
	content: "\e91e"
}

.jp-battery-charging:before {
	content: "\e91f"
}

.jp-battery:before {
	content: "\e920"
}

.jp-bell-off:before {
	content: "\e921"
}

.jp-bell:before {
	content: "\e922"
}

.jp-bluetooth:before {
	content: "\e923"
}

.jp-bold:before {
	content: "\e924"
}

.jp-book-open:before {
	content: "\e925"
}

.jp-book:before {
	content: "\e926"
}

.jp-bookmark:before {
	content: "\e927"
}

.jp-box:before {
	content: "\e928"
}

.jp-briefcase:before {
	content: "\e929"
}

.jp-calendar:before {
	content: "\e92a"
}

.jp-camera-off:before {
	content: "\e92b"
}

.jp-camera:before {
	content: "\e92c"
}

.jp-cast:before {
	content: "\e92d"
}

.jp-check-circle:before {
	content: "\e92e"
}

.jp-check-square:before {
	content: "\e92f"
}

.jp-check:before {
	content: "\e930"
}

.jp-chevron-down:before {
	content: "\e931"
}

.jp-chevron-left:before {
	content: "\e932"
}

.jp-chevron-right:before {
	content: "\e933"
}

.jp-chevron-up:before {
	content: "\e934"
}

.jp-chevrons-down:before {
	content: "\e935"
}

.jp-chevrons-left:before {
	content: "\e936"
}

.jp-chevrons-right:before {
	content: "\e937"
}

.jp-chevrons-up:before {
	content: "\e938"
}

.jp-chrome:before {
	content: "\e939"
}

.jp-circle:before {
	content: "\e93a"
}

.jp-clipboard:before {
	content: "\e93b"
}

.jp-clock:before {
	content: "\e93c"
}

.jp-cloud-drizzle:before {
	content: "\e93d"
}

.jp-cloud-lightning:before {
	content: "\e93e"
}

.jp-cloud-off:before {
	content: "\e93f"
}

.jp-cloud-rain:before {
	content: "\e940"
}

.jp-cloud-snow:before {
	content: "\e941"
}

.jp-cloud:before {
	content: "\e942"
}

.jp-code:before {
	content: "\e943"
}

.jp-codepen:before {
	content: "\e944"
}

.jp-codesandbox:before {
	content: "\e945"
}

.jp-coffee:before {
	content: "\e946"
}

.jp-columns:before {
	content: "\e947"
}

.jp-command:before {
	content: "\e948"
}

.jp-compass:before {
	content: "\e949"
}

.jp-copy:before {
	content: "\e94a"
}

.jp-corner-down-left:before {
	content: "\e94b"
}

.jp-corner-down-right:before {
	content: "\e94c"
}

.jp-corner-left-down:before {
	content: "\e94d"
}

.jp-corner-left-up:before {
	content: "\e94e"
}

.jp-corner-right-down:before {
	content: "\e94f"
}

.jp-corner-right-up:before {
	content: "\e950"
}

.jp-corner-up-left:before {
	content: "\e951"
}

.jp-corner-up-right:before {
	content: "\e952"
}

.jp-cpu:before {
	content: "\e953"
}

.jp-credit-card:before {
	content: "\e954"
}

.jp-crop:before {
	content: "\e955"
}

.jp-crosshair:before {
	content: "\e956"
}

.jp-database:before {
	content: "\e957"
}

.jp-delete:before {
	content: "\e958"
}

.jp-disc:before {
	content: "\e959"
}

.jp-dollar-sign:before {
	content: "\e95a"
}

.jp-download-cloud:before {
	content: "\e95b"
}

.jp-download:before {
	content: "\e95c"
}

.jp-droplet:before {
	content: "\e95d"
}

.jp-edit-2:before {
	content: "\e95e"
}

.jp-edit-3:before {
	content: "\e95f"
}

.jp-edit:before {
	content: "\e960"
}

.jp-external-link:before {
	content: "\e961"
}

.jp-eye-off:before {
	content: "\e962"
}

.jp-eye:before {
	content: "\e963"
}

.jp-facebook:before {
	content: "\e964"
}

.jp-fast-forward:before {
	content: "\e965"
}

.jp-feather:before {
	content: "\e966"
}

.jp-figma:before {
	content: "\e967"
}

.jp-file-minus:before {
	content: "\e968"
}

.jp-file-plus:before {
	content: "\e969"
}

.jp-file-text:before {
	content: "\e96a"
}

.jp-file:before {
	content: "\e96b"
}

.jp-film:before {
	content: "\e96c"
}

.jp-filter:before {
	content: "\e96d"
}

.jp-flag:before {
	content: "\e96e"
}

.jp-folder-minus:before {
	content: "\e96f"
}

.jp-folder-plus:before {
	content: "\e970"
}

.jp-folder:before {
	content: "\e971"
}

.jp-framer:before {
	content: "\e972"
}

.jp-frown:before {
	content: "\e973"
}

.jp-gift:before {
	content: "\e974"
}

.jp-git-branch:before {
	content: "\e975"
}

.jp-git-commit:before {
	content: "\e976"
}

.jp-git-merge:before {
	content: "\e977"
}

.jp-git-pull-request:before {
	content: "\e978"
}

.jp-github:before {
	content: "\e979"
}

.jp-gitlab:before {
	content: "\e97a"
}

.jp-globe:before {
	content: "\e97b"
}

.jp-grid:before {
	content: "\e97c"
}

.jp-hard-drive:before {
	content: "\e97d"
}

.jp-hash:before {
	content: "\e97e"
}

.jp-headphones:before {
	content: "\e97f"
}

.jp-heart:before {
	content: "\e980"
}

.jp-help-circle:before {
	content: "\e981"
}

.jp-hexagon:before {
	content: "\e982"
}

.jp-home:before {
	content: "\e983"
}

.jp-image:before {
	content: "\e984"
}

.jp-inbox:before {
	content: "\e985"
}

.jp-info:before {
	content: "\e986"
}

.jp-instagram:before {
	content: "\e987"
}

.jp-italic:before {
	content: "\e988"
}

.jp-key:before {
	content: "\e989"
}

.jp-layers:before {
	content: "\e98a"
}

.jp-layout:before {
	content: "\e98b"
}

.jp-life-buoy:before {
	content: "\e98c"
}

.jp-link-2:before {
	content: "\e98d"
}

.jp-link:before {
	content: "\e98e"
}

.jp-linkedin:before {
	content: "\e98f"
}

.jp-list:before {
	content: "\e990"
}

.jp-loader:before {
	content: "\e991"
}

.jp-lock:before {
	content: "\e992"
}

.jp-log-in:before {
	content: "\e993"
}

.jp-log-out:before {
	content: "\e994"
}

.jp-mail:before {
	content: "\e995"
}

.jp-map-pin:before {
	content: "\e996"
}

.jp-map:before {
	content: "\e997"
}

.jp-maximize-2:before {
	content: "\e998"
}

.jp-maximize:before {
	content: "\e999"
}

.jp-meh:before {
	content: "\e99a"
}

.jp-menu:before {
	content: "\e99b"
}

.jp-message-circle:before {
	content: "\e99c"
}

.jp-message-square:before {
	content: "\e99d"
}

.jp-mic-off:before {
	content: "\e99e"
}

.jp-mic:before {
	content: "\e99f"
}

.jp-minimize-2:before {
	content: "\e9a0"
}

.jp-minimize:before {
	content: "\e9a1"
}

.jp-minus-circle:before {
	content: "\e9a2"
}

.jp-minus-square:before {
	content: "\e9a3"
}

.jp-minus:before {
	content: "\e9a4"
}

.jp-monitor:before {
	content: "\e9a5"
}

.jp-moon:before {
	content: "\e9a6"
}

.jp-more-horizontal:before {
	content: "\e9a7"
}

.jp-more-vertical:before {
	content: "\e9a8"
}

.jp-mouse-pointer:before {
	content: "\e9a9"
}

.jp-move:before {
	content: "\e9aa"
}

.jp-music:before {
	content: "\e9ab"
}

.jp-navigation-2:before {
	content: "\e9ac"
}

.jp-navigation:before {
	content: "\e9ad"
}

.jp-octagon:before {
	content: "\e9ae"
}

.jp-package:before {
	content: "\e9af"
}

.jp-paperclip:before {
	content: "\e9b0"
}

.jp-pause-circle:before {
	content: "\e9b1"
}

.jp-pause:before {
	content: "\e9b2"
}

.jp-pen-tool:before {
	content: "\e9b3"
}

.jp-percent:before {
	content: "\e9b4"
}

.jp-phone-call:before {
	content: "\e9b5"
}

.jp-phone-forwarded:before {
	content: "\e9b6"
}

.jp-phone-incoming:before {
	content: "\e9b7"
}

.jp-phone-missed:before {
	content: "\e9b8"
}

.jp-phone-off:before {
	content: "\e9b9"
}

.jp-phone-outgoing:before {
	content: "\e9ba"
}

.jp-phone:before {
	content: "\e9bb"
}

.jp-pie-chart:before {
	content: "\e9bc"
}

.jp-play-circle:before {
	content: "\e9bd"
}

.jp-play:before {
	content: "\e9be"
}

.jp-plus-circle:before {
	content: "\e9bf"
}

.jp-plus-square:before {
	content: "\e9c0"
}

.jp-plus:before {
	content: "\e9c1"
}

.jp-pocket:before {
	content: "\e9c2"
}

.jp-power:before {
	content: "\e9c3"
}

.jp-printer:before {
	content: "\e9c4"
}

.jp-radio:before {
	content: "\e9c5"
}

.jp-refresh-ccw:before {
	content: "\e9c6"
}

.jp-refresh-cw:before {
	content: "\e9c7"
}

.jp-repeat:before {
	content: "\e9c8"
}

.jp-rewind:before {
	content: "\e9c9"
}

.jp-rotate-ccw:before {
	content: "\e9ca"
}

.jp-rotate-cw:before {
	content: "\e9cb"
}

.jp-rss:before {
	content: "\e9cc"
}

.jp-save:before {
	content: "\e9cd"
}

.jp-scissors:before {
	content: "\e9ce"
}

.jp-search:before {
	content: "\e9cf"
}

.jp-send:before {
	content: "\e9d0"
}

.jp-server:before {
	content: "\e9d1"
}

.jp-settings:before {
	content: "\e9d2"
}

.jp-share-2:before {
	content: "\e9d3"
}

.jp-share:before {
	content: "\e9d4"
}

.jp-shield-off:before {
	content: "\e9d5"
}

.jp-shield:before {
	content: "\e9d6"
}

.jp-shopping-bag:before {
	content: "\e9d7"
}

.jp-shopping-cart:before {
	content: "\e9d8"
}

.jp-shuffle:before {
	content: "\e9d9"
}

.jp-sidebar:before {
	content: "\e9da"
}

.jp-skip-back:before {
	content: "\e9db"
}

.jp-skip-forward:before {
	content: "\e9dc"
}

.jp-slack:before {
	content: "\e9dd"
}

.jp-slash:before {
	content: "\e9de"
}

.jp-sliders:before {
	content: "\e9df"
}

.jp-smartphone:before {
	content: "\e9e0"
}

.jp-smile:before {
	content: "\e9e1"
}

.jp-speaker:before {
	content: "\e9e2"
}

.jp-square:before {
	content: "\e9e3"
}

.jp-star:before {
	content: "\e9e4"
}

.jp-stop-circle:before {
	content: "\e9e5"
}

.jp-sun:before {
	content: "\e9e6"
}

.jp-sunrise:before {
	content: "\e9e7"
}

.jp-sunset:before {
	content: "\e9e8"
}

.jp-tablet:before {
	content: "\e9e9"
}

.jp-tag:before {
	content: "\e9ea"
}

.jp-target:before {
	content: "\e9eb"
}

.jp-terminal:before {
	content: "\e9ec"
}

.jp-thermometer:before {
	content: "\e9ed"
}

.jp-thumbs-down:before {
	content: "\e9ee"
}

.jp-thumbs-up:before {
	content: "\e9ef"
}

.jp-toggle-left:before {
	content: "\e9f0"
}

.jp-toggle-right:before {
	content: "\e9f1"
}

.jp-trash-2:before {
	content: "\e9f2"
}

.jp-trash:before {
	content: "\e9f3"
}

.jp-trello:before {
	content: "\e9f4"
}

.jp-trending-down:before {
	content: "\e9f5"
}

.jp-trending-up:before {
	content: "\e9f6"
}

.jp-triangle:before {
	content: "\e9f7"
}

.jp-truck:before {
	content: "\e9f8"
}

.jp-tv:before {
	content: "\e9f9"
}

.jp-twitter:before {
	content: "\e9fa"
}

.jp-type:before {
	content: "\e9fb"
}

.jp-umbrella:before {
	content: "\e9fc"
}

.jp-underline:before {
	content: "\e9fd"
}

.jp-unlock:before {
	content: "\e9fe"
}

.jp-upload-cloud:before {
	content: "\e9ff"
}

.jp-upload:before {
	content: "\ea00"
}

.jp-user-check:before {
	content: "\ea01"
}

.jp-user-minus:before {
	content: "\ea02"
}

.jp-user-plus:before {
	content: "\ea03"
}

.jp-user-x:before {
	content: "\ea04"
}

.jp-user:before {
	content: "\ea05"
}

.jp-users:before {
	content: "\ea06"
}

.jp-video-off:before {
	content: "\ea07"
}

.jp-video:before {
	content: "\ea08"
}

.jp-voicemail:before {
	content: "\ea09"
}

.jp-volume-1:before {
	content: "\ea0a"
}

.jp-volume-2:before {
	content: "\ea0b"
}

.jp-volume-x:before {
	content: "\ea0c"
}

.jp-volume:before {
	content: "\ea0d"
}

.jp-watch:before {
	content: "\ea0e"
}

.jp-wifi-off:before {
	content: "\ea0f"
}

.jp-wifi:before {
	content: "\ea10"
}

.jp-wind:before {
	content: "\ea11"
}

.jp-x-circle:before {
	content: "\ea12"
}

.jp-x-octagon:before {
	content: "\ea13"
}

.jp-x-square:before {
	content: "\ea14"
}

.jp-x:before {
	content: "\ea15"
}

.jp-youtube:before {
	content: "\ea16"
}

.jp-zap-off:before {
	content: "\ea17"
}

.jp-zap:before {
	content: "\ea18"
}

.jp-zoom-in:before {
	content: "\ea19"
}

.jp-zoom-out:before {
	content: "\ea1a"
}

.jp-badge-new:before {
	content: "\ea1b"
}

.jp-checkbox-checked:before {
	content: "\ea1c"
}

.jp-checkbox-unchecked:before {
	content: "\ea1d"
}

.jp-radio-checked:before {
	content: "\ea1e"
}

.jp-radio-unchecked:before {
	content: "\ea1f"
}

.jp-chevron-left-thin:before {
	content: "\ea20"
}

.jp-chevron-right-thin:before {
	content: "\ea21"
}

.jp-close-thin:before {
	content: "\ea22"
}

.jp-menu-grid:before {
	content: "\ea23"
}

.jp-flag-solid:before {
	content: "\ea24"
}

.jp-bookmark-solid:before {
	content: "\ea25"
}

.jp-heart-solid:before {
	content: "\ea26"
}

.jp-lock-solid:before {
	content: "\ea27"
}

.jp-unlock-solid:before {
	content: "\ea28"
}

.jp-thumbs-up-solid:before {
	content: "\ea29"
}

.jp-thumbs-down-solid:before {
	content: "\ea2a"
}

.jp-toggle-left-solid:before {
	content: "\ea2b"
}

.jp-toggle-right-solid:before {
	content: "\ea2c"
}

.jp-jp-company:before {
	content: "\ea2d"
}

.jp-briefcase2:before {
	content: "\ea2e"
}

.jp-briefcase2_fill:before {
	content: "\ea2f"
}

.jp-home_fill:before {
	content: "\ea30"
}

.jp-interview:before {
	content: "\ea31"
}

.jp-news_fill:before {
	content: "\ea32"
}

.jp-news:before {
	content: "\ea33"
}

.jp-search_fill:before {
	content: "\ea34"
}

.jp-user_fill:before {
	content: "\ea35"
}

.jp-won-sign:before {
	content: "\ea36"
}

.jp-logo_facebook:before {
	content: "\ea37"
}

.jp-logo_kakao:before {
	content: "\ea38"
}

.jp-logo_linkedin:before {
	content: "\ea39"
}

.jp-logo_naver:before {
	content: "\ea3a"
}

.jp-logo_twitter:before {
	content: "\ea3b"
}

.jp-alert-circle_fill:before {
	content: "\ea3c"
}

.jp-alert-triangle_fill:before {
	content: "\ea3d"
}

.jp-bell_fill:before {
	content: "\ea3e"
}

.jp-bell-off_fill:before {
	content: "\ea3f"
}

.jp-checkbox-checked_fill:before {
	content: "\ea40"
}

.jp-filter_fill:before {
	content: "\ea41"
}

.jp-x-circle_fill:before {
	content: "\ea42"
}

.jp-info_fill:before {
	content: "\ea43"
}

.jp-help-circle_fill:before {
	content: "\ea44"
}

.jp-vertical:before {
	content: "\ea45"
}

.jp-horizon:before {
	content: "\ea46"
}

.jp-checkbox-multi-checked:before {
	content: "\ea47"
}

.jp-plus-circle_fill:before {
	content: "\ea48"
}

.jp-minus-circle_fill:before {
	content: "\ea49"
}

.jp-won-sign_fill:before {
	content: "\ea4a"
}

.jf_h1 {
	font-size: 48px;
	line-height: 72px;
	font-weight: 700
}

.jf_h2 {
	font-size: 40px;
	line-height: 60px;
	font-weight: 700
}

.jf_h3 {
	font-size: 32px;
	line-height: 48px;
	font-weight: 700
}

.jf_h4 {
	font-size: 28px;
	line-height: 42px;
	font-weight: 700
}

.jf_h5 {
	font-size: 24px;
	line-height: 36px;
	font-weight: 700
}

.jf_h6 {
	font-size: 20px;
	line-height: 30px;
	font-weight: 700
}

.jf_h7 {
	font-size: 18px;
	line-height: 28px;
	font-weight: 700
}

.jf_h8 {
	font-size: 16px;
	line-height: 24px;
	font-weight: 700
}

.jf_h9 {
	font-size: 14px;
	line-height: 22px;
	font-weight: 700
}

.jf_h10 {
	font-size: 12px;
	line-height: 18px;
	font-weight: 700
}

.jf_h7 {
	font-size: 18px;
	line-height: 28px;
	font-weight: 700
}

.jf_h8 {
	font-size: 16px;
	line-height: 24px;
	font-weight: 700
}

.jf_h9 {
	font-size: 14px;
	line-height: 22px;
	font-weight: 700
}

.jf_h10 {
	font-size: 12px;
	line-height: 18px;
	font-weight: 700
}

.jf_b1 {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400
}

.jf_b2 {
	font-size: 14px;
	line-height: 22px;
	font-weight: 400
}

.jf_s1 {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400
}

.jf_s2 {
	font-size: 10px;
	line-height: 16px;
	font-weight: 400
}

.jf_base_font {
	font-family: Roboto, "Noto Sans KR", -apple-system, dotum, Arial,
		sans-serif
}

body, select, button, textarea, input[type="text"], input[type="password"],
	input[type="email"] {
	font-family: Roboto, "Noto Sans KR", -apple-system, dotum, Arial,
		sans-serif
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src: local("Noto Sans Thin"), local("NotoSans-Thin"),
		url("https://common.jobplanet.co.kr/fonts/eot/NotoSansKR-Thin-Hestia.eot"),
		url("https://common.jobplanet.co.kr/fonts/eot/NotoSansKR-Thin-Hestia.eot?#iefix")
		format("embedded-opentype"),
		url("https://common.jobplanet.co.kr/fonts/woff/NotoSansKR-Thin-Hestia.woff")
		format("woff"),
		url("https://common.jobplanet.co.kr/fonts/otf/NotoSansKR-Thin-Hestia.otf")
		format("opentype")
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: local("Noto Sans Light"), local("NotoSans-Light"),
		url("https://common.jobplanet.co.kr/fonts/eot/NotoSansKR-Light-Hestia.eot"),
		url("https://common.jobplanet.co.kr/fonts/eot/NotoSansKR-Light-Hestia.eot?#iefix")
		format("embedded-opentype"),
		url("https://common.jobplanet.co.kr/fonts/woff/NotoSansKR-Light-Hestia.woff")
		format("woff"),
		url("https://common.jobplanet.co.kr/fonts/otf/NotoSansKR-Light-Hestia.otf")
		format("opentype")
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 350;
	src: local("Noto Sans DemiLight"), local("NotoSans-DemiLight"),
		url("https://common.jobplanet.co.kr/fonts/eot/NotoSansKR-DemiLight-Hestia.eot"),
		url("https://common.jobplanet.co.kr/fonts/eot/NotoSansKR-DemiLight-Hestia.eot?#iefix")
		format("embedded-opentype"),
		url("https://common.jobplanet.co.kr/fonts/woff/NotoSansKR-DemiLight-Hestia.woff")
		format("woff"),
		url("https://common.jobplanet.co.kr/fonts/otf/NotoSansKR-DemiLight-Hestia.otf")
		format("opentype")
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: local("Noto Sans Regular"), local("NotoSans-Regular"),
		url("https://common.jobplanet.co.kr/fonts/eot/NotoSansKR-Regular-Hestia.eot"),
		url("https://common.jobplanet.co.kr/fonts/eot/NotoSansKR-Regular-Hestia.eot?#iefix")
		format("embedded-opentype"),
		url("https://common.jobplanet.co.kr/fonts/woff/NotoSansKR-Regular-Hestia.woff")
		format("woff"),
		url("https://common.jobplanet.co.kr/fonts/otf/NotoSansKR-Regular-Hestia.otf")
		format("opentype")
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: local("Noto Sans Medium"), local("NotoSans-Medium"),
		url("https://common.jobplanet.co.kr/fonts/eot/NotoSansKR-Medium-Hestia.eot"),
		url("https://common.jobplanet.co.kr/fonts/eot/NotoSansKR-Medium-Hestia.eot?#iefix")
		format("embedded-opentype"),
		url("https://common.jobplanet.co.kr/fonts/woff/NotoSansKR-Medium-Hestia.woff")
		format("woff"),
		url("https://common.jobplanet.co.kr/fonts/otf/NotoSansKR-Medium-Hestia.otf")
		format("opentype")
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: local("Noto Sans Bold"), local("NotoSans-Bold"),
		url("https://common.jobplanet.co.kr/fonts/eot/NotoSansKR-Bold-Hestia.eot"),
		url("https://common.jobplanet.co.kr/fonts/eot/NotoSansKR-Bold-Hestia.eot?#iefix")
		format("embedded-opentype"),
		url("https://common.jobplanet.co.kr/fonts/woff/NotoSansKR-Bold-Hestia.woff")
		format("woff"),
		url("https://common.jobplanet.co.kr/fonts/otf/NotoSansKR-Bold-Hestia.otf")
		format("opentype")
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src: local("Noto Sans Black"), local("NotoSans-Black"),
		url("https://common.jobplanet.co.kr/fonts/eot/NotoSansKR-Black-Hestia.eot"),
		url("https://common.jobplanet.co.kr/fonts/eot/NotoSansKR-Black-Hestia.eot?#iefix")
		format("embedded-opentype"),
		url("https://common.jobplanet.co.kr/fonts/woff/NotoSansKR-Black-Hestia.woff")
		format("woff"),
		url("https://common.jobplanet.co.kr/fonts/otf/NotoSansKR-Black-Hestia.otf")
		format("opentype")
}

@font-face {
	font-family: 'Roboto';
	font-weight: 100;
	font-style: normal;
	src: url("https://common.jobplanet.co.kr/fonts/woff/Roboto-Thin.woff2")
		format("woff2"),
		url("https://common.jobplanet.co.kr/fonts/woff/Roboto-Thin.woff")
		format("woff"),
		url("https://common.jobplanet.co.kr/fonts/otf/Roboto-Thin.otf")
		format("opentype")
}

@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	font-style: normal;
	src: url("https://common.jobplanet.co.kr/fonts/woff/Roboto-Light.woff2")
		format("woff2"),
		url("https://common.jobplanet.co.kr/fonts/woff/Roboto-Light.woff")
		format("woff"),
		url("https://common.jobplanet.co.kr/fonts/otf/Roboto-Light.otf")
		format("opentype")
}

@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: normal;
	src:
		url("https://common.jobplanet.co.kr/fonts/woff/Roboto-Regular.woff2")
		format("woff2"),
		url("https://common.jobplanet.co.kr/fonts/woff/Roboto-Regular.woff")
		format("woff"),
		url("https://common.jobplanet.co.kr/fonts/otf/Roboto-Regular.otf")
		format("opentype")
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	font-style: normal;
	src:
		url("https://common.jobplanet.co.kr/fonts/woff/Roboto-Medium.woff2")
		format("woff2"),
		url("https://common.jobplanet.co.kr/fonts/woff/Roboto-Medium.woff")
		format("woff"),
		url("https://common.jobplanet.co.kr/fonts/otf/Roboto-Medium.otf")
		format("opentype")
}

@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	font-style: normal;
	src: url("https://common.jobplanet.co.kr/fonts/woff/Roboto-Bold.woff2")
		format("woff2"),
		url("https://common.jobplanet.co.kr/fonts/woff/Roboto-Bold.woff")
		format("woff"),
		url("https://common.jobplanet.co.kr/fonts/otf/Roboto-Bold.otf")
		format("opentype")
}

.jf_button {
	display: inline-flex;
	align-items: center;
	box-sizing: border-box;
	line-height: normal
}

.jf_button.size_large {
	width: auto;
	height: 56px;
	padding: 0 20px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	border-radius: 8px
}

.jf_button.size_large .jf_button__box {
	display: inline-flex;
	width: 24px;
	height: 24px;
	justify-content: center;
	align-items: center;
	margin-top: 2px
}

.jf_button.size_large .jf_button__icon {
	top: -2px;
	font-size: 16px
}

.jf_button.size_large.icon_both .jf_button__txt {
	margin: 0 2px
}

.jf_button.size_large.icon_left {
	padding: 0 28px 0 20px
}

.jf_button.size_large.icon_left .jf_button__txt {
	margin-left: 2px
}

.jf_button.size_large.icon_right {
	padding: 0 20px 0 28px
}

.jf_button.size_large.icon_right .jf_button__txt {
	margin-right: 2px
}

.jf_button.size_medium {
	width: auto;
	height: 48px;
	padding: 0 16px;
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
	border-radius: 8px
}

.jf_button.size_medium .jf_button__box {
	display: inline-flex;
	width: 24px;
	height: 24px;
	justify-content: center;
	align-items: center;
	margin-top: -2px
}

.jf_button.size_medium .jf_button__icon {
	font-size: 16px
}

.jf_button.size_medium.icon_both .jf_button__txt {
	margin: 0 2px
}

.jf_button.size_medium.icon_left {
	padding: 0 24px 0 16px
}

.jf_button.size_medium.icon_left .jf_button__txt {
	margin-left: 2px
}

.jf_button.size_medium.icon_right {
	padding: 0 16px 0 24px
}

.jf_button.size_medium.icon_right .jf_button__txt {
	margin-right: 2px
}

.jf_button.size_small {
	height: 40px;
	padding: 0 12px;
	font-size: 14px;
	font-weight: 400;
	border-radius: 6px
}

.jf_button.size_small .jf_button__box {
	display: inline-flex;
	width: 20px;
	height: 20px;
	justify-content: center;
	align-items: center;
	margin-top: -2px
}

.jf_button.size_small .jf_button__icon {
	font-size: 14px
}

.jf_button.size_small.icon_both .jf_button__txt {
	margin: 0 2px
}

.jf_button.size_small.icon_left {
	padding: 0 16px 0 12px
}

.jf_button.size_small.icon_left .jf_button__txt {
	margin-left: 2px
}

.jf_button.size_small.icon_right {
	padding: 0 12px 0 16px
}

.jf_button.size_small.icon_right .jf_button__txt {
	margin-right: 2px
}

.jf_button.size_xsmall {
	height: 28px;
	padding: 0 8px;
	font-size: 12px;
	font-weight: 400;
	border-radius: 4px
}

.jf_button.size_xsmall .jf_button__box {
	display: inline-flex;
	width: 16px;
	height: 16px;
	justify-content: center;
	align-items: center;
	margin-top: -1px
}

.jf_button.size_xsmall .jf_button__icon {
	font-size: 12px
}

.jf_button.size_xsmall.icon_both .jf_button__txt {
	margin: 0 2px
}

.jf_button.size_xsmall.icon_left {
	padding: 0 12px 0 8px
}

.jf_button.size_xsmall.icon_right {
	padding: 0 8px 0 12px
}

.jf_button.type_primary {
	color: #fff;
	font-weight: 700;
	border: 1px solid #00c362;
	background: #00c362
}

.jf_button.type_primary .jf_button__icon {
	color: #fff
}

.jf_button.type_primary:hover {
	border: 1px solid #00a855;
	background: #00a855
}

.jf_button.type_primary:active {
	border: 1px solid #008040;
	background: #008040
}

.jf_button.type_primary:disabled {
	border: 1px solid #bbecc8;
	background: #bbecc8;
	cursor: default
}

.jf_button.type_secondary {
	color: #686a6d;
	border: 1px solid #f3f3f4;
	background: #f3f3f4
}

.jf_button.type_secondary .jf_button__icon {
	color: #686a6d
}

.jf_button.type_secondary:hover {
	color: #57595b;
	border: 1px solid #e5e6e9;
	background: #e5e6e9
}

.jf_button.type_secondary:hover .jf_button__icon {
	color: #57595b
}

.jf_button.type_secondary:active {
	color: #4b4c50;
	border: 1px solid #c5c7cc;
	background: #c5c7cc
}

.jf_button.type_secondary:active .jf_button__icon {
	color: #4b4c50
}

.jf_button.type_secondary:disabled {
	color: #e5e6e9;
	border: 1px solid #f9f9fb;
	background: #f9f9fb;
	cursor: default
}

.jf_button.type_secondary:disabled .jf_button__icon {
	color: #e5e6e9
}

.jf_button.type_tertiary {
	color: #00c362;
	border: 1px solid #00c362;
	background: #fff
}

.jf_button.type_tertiary .jf_button__icon {
	color: #00c362
}

.jf_button.type_tertiary:hover {
	color: #00a855;
	border: 1px solid #00a855;
	background: #f7fdfa
}

.jf_button.type_tertiary:hover .jf_button__icon {
	color: #00a855
}

.jf_button.type_tertiary:active {
	color: #008040;
	border: 1px solid #008040;
	background: #ebf9ef
}

.jf_button.type_tertiary:active .jf_button__icon {
	color: #008040
}

.jf_button.type_tertiary:disabled {
	color: #bbecc8;
	border: 1px solid #bbecc8;
	background: #fff;
	cursor: default
}

.jf_button.type_tertiary:disabled .jf_button__icon {
	color: #bbecc8
}

.jf_button.type_ghost {
	color: #00c362;
	font-weight: 700;
	border: 1px solid #fff;
	background-color: transparent
}

.jf_button.type_ghost .jf_button__icon {
	color: #00c362
}

.jf_button.type_ghost:hover {
	color: #00a855;
	border: 1px solid #f7fdfa;
	background: #f7fdfa
}

.jf_button.type_ghost:hover .jf_button__icon {
	color: #00a855
}

.jf_button.type_ghost:active {
	color: #008040;
	border: 1px solid #ebf9ef;
	background: #ebf9ef
}

.jf_button.type_ghost:active .jf_button__icon {
	color: #008040
}

.jf_button.type_ghost:disabled {
	color: #bbecc8;
	border: 1px solid #fff;
	background: #fff;
	cursor: default
}

.jf_button.type_ghost:disabled .jf_button__icon {
	color: #bbecc8
}

.jf_button.type_underline {
	color: #00c362;
	font-weight: 700;
	text-decoration: underline;
	border: 1px solid #fff;
	background-color: transparent
}

.jf_button.type_underline:hover {
	color: #00a855
}

.jf_button.type_underline:active {
	color: #008040
}

.jf_button.type_underline:disabled {
	color: #bbecc8;
	cursor: default
}

.jf_button.type_underline:disabled .jf_button__icon {
	color: #bbecc8
}

.jf_button.type_alert {
	color: #fff;
	font-weight: 700;
	border: 1px solid #f44336;
	background: #f44336
}

.jf_button.type_alert .jf_button__icon {
	color: #fff
}

.jf_button.type_alert:hover {
	border: 1px solid #e53935;
	background: #e53935
}

.jf_button.type_alert:active {
	border: 1px solid #d32f2f;
	background: #d32f2f
}

.jf_button.type_alert:disabled {
	color: #fff;
	border: 1px solid #ffcdcd;
	background: #ffcdcd;
	cursor: default
}

.jf_button.type_alert:disabled .jf_button__icon {
	color: #fff
}

.jf_button__icon {
	position: relative;
	top: 1px
}

.jf_icon_box_xl {
	display: flex;
	width: 32px;
	height: 32px;
	justify-content: center;
	align-items: center
}

.jf_icon_box_xl i {
	font-size: 20px
}

.jf_icon_box_l {
	display: flex;
	width: 24px;
	height: 24px;
	justify-content: center;
	align-items: center
}

.jf_icon_box_l i {
	font-size: 16px
}

.jf_icon_box_m {
	display: flex;
	width: 20px;
	height: 20px;
	justify-content: center;
	align-items: center
}

.jf_icon_box_m i {
	font-size: 14px
}

.jf_icon_box_s {
	display: flex;
	width: 16px;
	height: 16px;
	justify-content: center;
	align-items: center
}

.jf_icon_box_s i {
	font-size: 12px
}

.jf_input {
	position: relative
}

.jf_input.is_disabled .jf_input__input {
	background: #f9f9fb;
	color: #e5e6e9;
	border-color: #e5e6e9;
	cursor: not-allowed
}

.jf_input.is_error .jf_input__error {
	margin-top: 2px;
	position: absolute;
	padding-right: 32px;
	box-sizing: border-box
}

.jf_input.is_error .jf_input__current {
	color: #f44336
}

.jf_input.is_error .jf_input__input {
	border-color: #f44336
}

.jf_input__label {
	position: relative;
	margin-bottom: 2px;
	color: #323438
}

.jf_input__label.is-required:after {
	position: absolute;
	top: -4px;
	bottom: 0;
	left: 100%;
	content: "*";
	display: block;
	color: #00c362;
	padding-left: 2px
}

.jf_input__error {
	margin: 0;
	color: #f44336
}

.jf_input__close {
	position: absolute;
	top: 14px;
	right: 12px;
	padding: 0;
	box-sizing: border-box;
	border: none;
	background: transparent;
	color: #c5c7cc;
	cursor: pointer
}

.jf_input__outer {
	display: block
}

.jf_input__inner {
	position: relative;
	display: inline-block;
	min-width: 286px;
	font-size: 0
}

.jf_input__inner:after {
	display: block;
	clear: both;
	content: ''
}

.jf_input__input {
	height: 48px;
	width: 100%;
	line-height: 48px;
	padding: 0 36px 0 20px;
	border: 1px solid #e5e6e9;
	box-sizing: border-box;
	border-radius: 8px;
	color: #323438
}

.jf_input__input:hover {
	border-color: #c5c7cc
}

.jf_input__input:hover::placeholder {
	color: #323438
}

.jf_input__input:focus {
	outline: none;
	border-color: #00c362
}

.jf_input__input::placeholder {
	color: #c5c7cc
}

.jf_input__textarea {
	min-height: 110px;
	width: 100%;
	padding: 12px 36px 12px 20px;
	border: 1px solid #e5e6e9;
	box-sizing: border-box;
	border-radius: 8px;
	color: #686a6d;
	resize: vertical
}

.jf_input__textarea:hover {
	border-color: #c5c7cc
}

.jf_input__textarea:hover::placeholder {
	color: #686a6d
}

.jf_input__textarea:focus {
	outline: none;
	border-color: #00c362
}

.jf_input__textarea::placeholder {
	color: #c5c7cc
}

.jf_input__textarea:-ms-input-placeholder {
	color: #c5c7cc !important
}

.jf_input__textarea::-webkit-scrollbar {
	width: 8px
}

.jf_input__textarea::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	background-clip: padding-box;
	border: 1px solid transparent
}

.jf_input__textarea::-webkit-scrollbar-track {
	background-color: white
}

.jf_input__length {
	margin-top: 2px;
	text-align: right;
	color: #c5c7cc
}

.jf_input__current {
	color: #00c362
}

.jf_select {
	position: relative;
	min-width: 28px;
	display: inline-block;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	border: none
}

.jf_select.is_disabled .jf_select__btn {
	background: #f9f9fb;
	color: #e5e6e9;
	border-color: #e5e6e9;
	cursor: not-allowed
}

.jf_select.is_disabled:hover .jf_select__btn {
	border-color: #e5e6e9
}

.jf_select.is_on .jf_select__btn {
	background: #f9f9fb
}

.jf_select.is_on:hover .jf_select__btn {
	border-color: #e5e6e9
}

.jf_select.is_active .jf_select__btn {
	color: #00c362;
	background: #f7fdfa;
	border: 1px solid #96e0aa
}

.jf_select.is_active .jf_select__icon {
	color: #00c362
}

.jf_select.is_active:hover .jf_select__btn {
	border-color: #96e0aa
}

.jf_select:hover .jf_select__btn {
	border-color: #c5c7cc
}

.jf_select.size_large .jf_select__btn {
	height: 48px;
	line-height: 48px;
	border-radius: 8px
}

.jf_select.size_medium .jf_select__btn {
	height: 40px;
	line-height: 40px;
	border-radius: 6px
}

.jf_select.size_small .jf_select__btn {
	height: 28px;
	line-height: 28px;
	border-radius: 4px
}

.jf_select.size_ghost .jf_select__btn {
	border: 0px;
	height: 28px;
	line-height: 28px;
	border-radius: 4px
}

.jf_select.size_ghost.is_active .jf_select__btn {
	background: transparent
}

.jf_select.size_ghost.is_disabled .jf_select__btn {
	background: transparent
}

.jf_select__select {
	position: absolute;
	box-sizing: content-box;
	top: 0;
	right: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: block;
	border: none;
	cursor: pointer;
	vertical-align: middle;
	z-index: 1;
	-webkit-appearance: none
}

.jf_select__select:focus {
	outline: 0
}

.jf_select__btn {
	position: relative;
	overflow: hidden;
	padding: 0 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	outline: none;
	border: 1px solid #e5e6e9;
	background-color: #fff;
	text-align: left;
	width: 100%;
	color: #323438
}

.jf_select__icon {
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	color: #c5c7cc
}

.jf_checkbox {
	display: flex;
	position: relative;
	width: auto;
	height: auto;
	min-height: 16px;
	align-items: center;
	padding-left: 0;
	width: max-content;
	cursor: pointer
}

.jf_checkbox__input {
	opacity: 0;
	filter: Alpha(opacity = 0);
	position: absolute;
	left: 0;
	top: 0
}

.jf_checkbox__input:disabled ~ .jf_checkbox__icon {
	cursor: not-allowed;
	color: #e5e6e9
}

.jf_checkbox__input:disabled ~ .jf_checkbox__text {
	cursor: not-allowed;
	color: #c5c7cc
}

.jf_checkbox__input[readonly] ~ .jf_checkbox__icon {
	cursor: not-allowed;
	color: #686a6d
}

.jf_checkbox__icon {
	position: relative;
	top: -1px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	color: #c5c7cc
}

.jf_checkbox__icon i.jp-checkbox-checked_fill {
	color: #00c362
}

.jf_checkbox__text {
	flex: 1;
	margin-left: 8px;
	color: #323438
}

.jf_radio {
	display: flex;
	position: relative;
	width: auto;
	height: auto;
	min-height: 16px;
	align-items: center;
	padding-left: 0;
	width: max-content;
	cursor: pointer
}

.jf_radio__input {
	opacity: 0;
	filter: Alpha(opacity = 0);
	position: absolute;
	left: 0;
	top: 0
}

.jf_radio__input:disabled ~ .jf_radio__icon {
	cursor: not-allowed;
	color: #e5e6e9
}

.jf_radio__input:disabled ~ .jf_radio__text {
	cursor: not-allowed;
	color: #c5c7cc
}

.jf_radio__input[readonly] ~ .jf_radio__icon {
	cursor: not-allowed;
	color: #686a6d
}

.jf_radio__icon {
	position: relative;
	top: -1px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	color: #c5c7cc
}

.jf_radio__icon i.jp-radio-checked {
	color: #00c362
}

.jf_radio__text {
	flex: 1;
	margin-left: 8px;
	color: #323438
}

.jf_dim {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.5)
}

.jf_chip {
	display: flex;
	align-items: center;
	background: none;
	border: 1px solid #e5e6e9;
	box-sizing: border-box;
	color: #323438;
	cursor: pointer
}

.jf_chip:hover {
	background: #f9f9fb;
	border-color: #c5c7cc
}

.jf_chip:active {
	background: #f3f3f4;
	border-color: #c5c7cc
}

.jf_chip__icon {
	margin-right: 2px
}

.jf_chip.size_large {
	height: 40px;
	border-radius: 20px;
	padding: 0 16px;
	font-size: 14px;
	line-height: 22px
}

.jf_chip.size_large.type_multi_select {
	padding-left: 12px
}

.jf_chip.size_small {
	height: 28px;
	border-radius: 14px;
	padding: 0 14px;
	font-size: 12px;
	line-height: 17px
}

.jf_chip.size_small.type_multi_select {
	padding-left: 10px
}

.jf_chip.is_active {
	font-weight: 700;
	color: #fff;
	background: #00c362;
	border-color: #00c362
}

.jf_chip.is_active .jf_chip__icon i {
	font-weight: 700
}

.jf_chip.is_active:hover {
	background: #00a855;
	border-color: #00a855
}

.jf_chip.is_active:active {
	background: #008040;
	border-color: #008040
}

.jf_chip:disabled {
	color: #e5e6e9;
	cursor: not-allowed
}

.jf_action_icon {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	border: 1px solid #00c362;
	cursor: pointer
}

.jf_action_icon.size_large {
	width: 48px;
	height: 48px;
	border-radius: 8px
}

.jf_action_icon.size_medium {
	width: 40px;
	height: 40px;
	border-radius: 6px
}

.jf_action_icon.size_small {
	width: 28px;
	height: 28px;
	border-radius: 4px
}

.jf_action_icon.type_border {
	color: #00c362
}

.jf_action_icon.type_border:hover {
	color: #00a855;
	background-color: #f7fdfa;
	border-color: #00a855
}

.jf_action_icon.type_border:active {
	color: #008040;
	background-color: #ebf9ef;
	border-color: #008040
}

.jf_action_icon.type_fill {
	color: #fff;
	background-color: #00c362
}

.jf_action_icon.type_fill:hover {
	background-color: #00a855;
	border-color: #00a855
}

.jf_action_icon.type_fill:active {
	background-color: #008040;
	border-color: #008040
}

.jf_action_icon.type_ghost {
	color: #00c362;
	border-color: #fff
}

.jf_action_icon.type_ghost:hover {
	color: #00a855;
	background-color: #f7fdfa;
	border-color: #f7fdfa
}

.jf_action_icon.type_ghost:active {
	color: #008040;
	background-color: #ebf9ef;
	border-color: #ebf9ef
}

.jf_dialogue:before {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 9999;
	content: ''
}

.jf_dialogue__wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 360px;
	margin: 0;
	padding: 28px;
	box-sizing: border-box;
	border: 1px solid #e5e6e9;
	border-radius: 8px;
	z-index: 10000;
	background: #fff
}

.jf_dialogue__bottom {
	display: flex;
	align-items: center;
	margin-top: 28px
}

.jf_dialogue__tit {
	padding-right: 18px
}

.jf_dialogue__txt {
	margin-top: 8px
}

.jf_dialogue__close {
	position: absolute;
	top: 12px;
	right: 12px;
	margin: 0;
	padding: 0;
	border: none;
	background: transparent;
	cursor: pointer
}

.jf_dialogue__group {
	font-size: 0px
}

.jf_dialogue__btn+.jf_dialogue__btn {
	margin-left: 8px
}

.jf_dialogue__item {
	position: relative;
	padding-left: 10px
}

.jf_dialogue__item:before {
	display: block;
	position: absolute;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background: #686A6D;
	top: 8px;
	left: 0;
	content: ""
}

.jf_dialogue.device_mobile .jf_dialogue__wrap {
	width: calc(100% - 40px)
}

.jf_dialogue__alert {
	line-height: 25px;
	cursor: pointer
}

.jf_dialogue__alert .jf_icon_box_l {
	display: inline-flex
}

.jf_dialogue__alert .jf_icon_box_l span {
	display: inline-flex;
	align-items: center;
	height: 24px;
	margin-left: 4px;
	cursor: pointer
}

.jf_modal.type_scroll .jf_modal__bottom {
	border-top: 1px solid #e5e6e9
}

.jf_modal.type_scroll .jf_modal__box {
	padding-bottom: 28px
}

.jf_modal.type_scroll .jf_modal__error {
	top: -24px
}

.jf_modal:before {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 9999;
	content: ''
}

.jf_modal__wrap {
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 520px;
	margin: 0;
	box-sizing: border-box;
	border: 1px solid #e5e6e9;
	border-radius: 8px;
	z-index: 10000;
	background: #fff
}

.jf_modal__box {
	position: relative;
	overflow: auto;
	padding: 28px 28px 0 28px;
	max-height: calc(600px - $ bottomH)
}

.jf_modal__top {
	padding-right: 18px
}

.jf_modal__bottom {
	position: relative;
	display: flex;
	align-items: center;
	padding: 28px
}

.jf_modal__tit {
	margin: 0
}

.jf_modal__txt {
	margin: 8px 0 0 0
}

.jf_modal__close {
	position: absolute;
	top: 12px;
	right: 12px;
	margin: 0;
	padding: 0;
	border: none;
	background: transparent;
	cursor: pointer
}

.jf_modal__group {
	font-size: 0px
}

.jf_modal__btn {
	cursor: pointer
}

.jf_modal__btn+.jf_modal__btn {
	margin-left: 8px
}

.jf_modal__img {
	width: 100%;
	margin-top: 20px;
	vertical-align: middle
}

.jf_modal__error {
	position: absolute;
	top: -23px;
	left: 0;
	right: 0;
	height: 24px;
	line-height: 24px !important;
	padding: 0 32px;
	background: #fff7f7;
	color: #f44336
}

.jf_modal.device_mobile .jf_modal__wrap {
	width: calc(100% - 40px)
}

.jf_modal.device_mobile .jf_modal__box {
	max-height: calc(90vh - $ bottomH);
	max-height: calc(90svh - $ bottomH)
}

.jf_img_modal:before {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 9999;
	content: ''
}

.jf_img_modal__wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 520px;
	margin: 0;
	border-radius: 8px;
	z-index: 10000;
	text-align: center
}

.jf_img_modal__box {
	overflow: hidden;
	border-radius: 8px
}

.jf_img_modal__close {
	position: absolute;
	top: 13px;
	right: 12px;
	margin: 0;
	padding: 0;
	border: none;
	background: transparent;
	cursor: pointer
}

.jf_img_modal__btn {
	margin-top: 8px;
	cursor: pointer;
	border: none;
	background: transparent;
	color: #f9f9fb
}

.jf_img_modal__btn i {
	margin-right: 8px
}

.jf_img_modal__img {
	width: 100%;
	vertical-align: middle
}

.jf_img_modal.device_mobile .jf_img_modal__wrap {
	width: calc(100% - 40px)
}

.jf_tag {
	display: inline-flex;
	align-items: center;
	background: none;
	border: 0px;
	box-sizing: border-box;
	cursor: pointer
}

.jf_tag.size_large {
	height: 28px;
	border-radius: 4px;
	padding: 0 8px;
	font-size: 12px
}

.jf_tag.size_medium {
	height: 20px;
	border-radius: 2px;
	padding: 0 6px;
	font-size: 10px;
	line-height: 14px
}

.jf_tag.size_small {
	height: 16px;
	border-radius: 2px;
	padding: 0 4px;
	font-size: 10px;
	line-height: 14px
}

.jf_tag.fill_green {
	color: #fff;
	background: #00c362
}

.jf_tag.fill_light_green {
	color: #00c362;
	background: #ebf9ef
}

.jf_tag.fill_border_green {
	color: #00c362;
	border: 1px solid #ebf9ef
}

.jf_tag.fill_blue {
	color: #fff;
	background: #2196f3
}

.jf_tag.fill_light_blue {
	color: #2196f3;
	background: #ecf6fe
}

.jf_tag.fill_border_blue {
	color: #2196f3;
	border: 1px solid #ecf6fe
}

.jf_tag.fill_red {
	color: #fff;
	background: #f44336
}

.jf_tag.fill_light_red {
	color: #f44336;
	background: #fff0f2
}

.jf_tag.fill_border_red {
	color: #f44336;
	border: 1px solid #fff0f2
}

.jf_tag.fill_orange {
	color: #fff;
	background: #ff9800
}

.jf_tag.fill_light_orange {
	color: #ff9800;
	background: #fff3e0
}

.jf_tag.fill_border_orange {
	color: #ff9800;
	border: 1px solid #fff3e0
}

.jf_tag.fill_gray {
	color: #fff;
	background: #686a6d
}

.jf_tag.fill_light_gray {
	color: #686a6d;
	background: #f3f3f4
}

.jf_tag.fill_border_gray {
	color: #686a6d;
	border: 1px solid #f3f3f4
}

.jf_tag:disabled {
	cursor: not-allowed
}

.jf_star {
	font-size: 0;
	height: 12px
}

.jf_star__item {
	display: inline-block;
	position: relative;
	width: 13px;
	height: 12px;
	margin-left: 2px;
	text-indent: -999px;
	background:
		url("https://jpassets.jobplanet.co.kr/production/uploads/material/media/11044/img_star_gray.svg")
		no-repeat left top/auto 100%
}

.jf_star__item:first-child {
	margin-left: 0
}

.jf_star .is_active {
	overflow: hidden;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background:
		url("https://jpassets.jobplanet.co.kr/production/uploads/material/media/11043/img_star_gold.svg")
		no-repeat left top/auto 100%
}

.jf_star .is_active.type_purple {
	background-image:
		url("https://jpassets.jobplanet.co.kr/production/uploads/material/media/11046/img_star_purple.svg")
}

.jf_star .is_active.type_green {
	background-image:
		url("https://jpassets.jobplanet.co.kr/production/uploads/material/media/11045/img_star_green.svg")
}

.clent_potal_parent {
	position: sticky;
	bottom: 0;
	z-index: 10
}

body .ab-iam-root.v3 {
	z-index: 10000
}